

/* CSS ADMIN PAGES */

.panel{
    margin: 50px 10px 100px 10px !important;
}
.information{
    padding:10px 100px 10px 150px !important;
}
div.dataTables_paginate ul.pagination {
    margin: 15px 0px !important;
}
.table>tbody>tr>td,
.table>tbody>tr>th{
    padding: 3px 10px 3px 10px  !important;
    line-height: 2 !important;
    vertical-align: inherit !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
.usertable{
    margin: auto !important;
    white-space: nowrap !important;
    font-size: 15px;
    overflow: hidden !important;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: rgba(220, 222, 239, 0.73);

}
.table-striped>tbody>tr:hover{
    background-color: rgba(124, 137, 243, 0.73);

}

/* Modal */
/* Set modal detail form scrollY */
.modal-dialog-detail{
    overflow-y: initial !important
}
.modal-body-detail{
    height: 480px;
    overflow-y: auto;
    font-weight: 100;
}
.modal-body-footer{
    padding: 10px 20px 0px 20px !important;
    background-color: #d8dde4;
}
.modal_background {
    background: #fff;
    margin-bottom: 10px
}
.modal_link{
    margin: 0 5px 0 5px;
}
.modal-title{
    margin-bottom: 50px;
}
.detail_user{
    margin: 10px 100px 0px 100px;
}
.modal_header {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #f8f0f0;
    padding: 0.5em 1em 0.4em;
    background: rgba(68, 134, 208, 0.77);;
    margin: 0em;
    position: relative;
}
/* Upload File*/
.image-preview{
    margin-bottom: 15px;
    padding-left: 3px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input_image {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input_image input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.btn-file, .btn-file-edit, .btn-file-detail, .btn-file-detail-edit {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file], .btn-file-edit input[type=file], .btn-file-detail input[type=file], .btn-file-detail-edit input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload, #img-upload_edit, #img-upload-detail, #img-upload-detail-edit{
    width: 200px;
    margin: 10px 30%;
}

.input-group,.input-group-edit,.input-group-detail,.input-group-detail-edit{
    position: relative;
    display: table;
    border-collapse: separate;
}

/* End upload file */
/* Pop up dictionary */
/* Styling dfn tag to highlight the word with the tooltip */
a.tooltips {
  color: #1600af;
  font-weight: 500;
  position: relative;
  display: inline-block;
}
a.answer{
    background-color: rgb(20, 88, 226);
    padding: 1px 10px 1px 10px;
    color: white;
}
a.tooltips span {
    visibility: hidden;
    width: 300px;
    background-color: rgb(85, 153, 212);
    color: #090331;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -36%;
    margin-left: -109px;
    opacity: 0;
    transition: opacity 1s;
}
@media(max-width: 800px){
  a.tooltips span {
    width: 130px;
    left: 36%;
    margin-left: -52px;
  }
}
a.tooltips span:after {
  content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(85, 153, 212) transparent transparent transparent;
}
a:hover.tooltips span {
  visibility: visible;
    opacity: 1;
}
/* Pop up dictionary */
/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-shadow: none;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    -o-transition:.5s all;
    -ms-transition:.5s all;
    transition:.5s all;
}
.modal-header .close {
    margin-top: 11px;
    opacity: 1;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button Hover Animate */
.button {
    border: none;
    text-align: center;
    font-size: 1.6em;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #391313cc;
    display: inline-block;
    padding: 9px 5px 5px 5px;
    background: rgba(179, 210, 239, 0.87);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* Button */
.btn_admin {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 5px 5px 5px 5px;
}
.btn_admin:hover{
    box-shadow: 7px 4px 8px 0px rgba(0,0,0,0.24), 2px 17px 56px 0px rgba(0,0,0,0.19);
}
.btn_admin_action {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 36px;
    height: 32px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 3px 6px 2px 6px;
}
.btn_admin_action:hover{
    box-shadow: 7px 4px 8px 0px rgba(0,0,0,0.24), 2px 17px 56px 0px rgba(0,0,0,0.19);
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2d7ab7;} /* Blue */
.info:hover {background: #125082;}

.warning {background-color: rgba(218, 171, 30, 0.93);} /* Orange */
.warning:hover {background: rgba(183, 146, 4, 0.93);}

.danger {background-color: #d04d43;} /* Red */
.danger:hover {background: #b91508;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

/* End Button */

/* Error label Ajax */
label.error {
    font-style: italic;
    font-weight: 100;
    color: red;
}
a{
    color: rgb(29, 53, 74) ;
    font-weight: 700 ;
}
.nav>li:hover{
    color: #284ad2;
}
.sidebar .nav-second-level li a{
    color: #566267 ;
    font-style: italic ;
    padding-left: 42px ;
    font-family: sans-serif ;
}
.sidebar .nav-second-level li a:hover{
    color: #284ad2;
}
.sidebar .nav-second-level li a.active{
    background-color: #747dca;
    color: #fffcfe;
}
/* Admin Navbar */
.admin_navbar {
    background: #716666 ;
    background: -webkit-linear-gradient(left, rgba(232, 232, 223, 0.9), #8e8e8e) ;
    background: -o-linear-gradient(right, rgba(232, 232, 223, 0.9), #8e8e8e) ;
    background: -moz-linear-gradient(right, rgba(232, 232, 223, 0.9), #8e8e8e) ;
    background: linear-gradient(to right, rgba(232, 232, 223, 0.9), #8e8e8e) ;
}


/* Set link rows table */

tr{
    cursor: pointer;
}
.selected
{
    background-color: rgba(20, 28, 134, 0.78) !important;
    color: #FFF;
}
.selected:hover{
    background-color: rgba(20, 28, 134, 0.78) !important;

}
/* Css guide modal */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}


.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#b1adad, #fff);
    background: -webkit-linear-gradient(#b1adad, #fff);
    background: -o-linear-gradient(#b1adad, #fff);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

/*-- address --*/
.address-row {
    margin-top: 3em;
    padding: 0;
}
.contact-w3lsright h6 span {
    color: #00bcd4;
}
.contact-w3lsright h6 {
    font-size: 1.8em;
    color: #525252;
    font-weight: 500;
    line-height: 1.8em;
    text-transform: uppercase;
    margin-top: 3em;
    padding: 0 1em;
    letter-spacing: 1px;
}
.address-row span.glyphicon {
    font-size: 1.2em;
    border: 2px solid #afafaf;
    padding: 1.6em 1em;
    color: #afafaf;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}
.address-row:hover span.glyphicon {
    border-color: #02bbd2; 
    color:#02bbd2; 
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    transform: rotatey(360deg); 
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
}
.address-row h5 {
    font-size: 1.4em;
    color: #f55800;
    margin-bottom: .4em;
    font-weight: 400;
}
.address-row p a {
    color: #02bbd2;
}
.address-row p a:hover{
    color: #999;
}
.address-right {
    padding-right: 0;
}
.grid_3 .address-right p {
    margin-bottom: 0;
}
/*-- //address --*/
@media(max-width:991px){
    .address-row {
        margin-top: 2em;
    }
}
@media(max-width:600px){
    .address-right {
        padding: 0;
    }
    .address-row span.glyphicon {
        font-size: 1em;
        padding: 1.9em 1em;
    }
    .address-left {
        padding: 0;
    }
}
@media(max-width:568px){
    .address-row {
        float: none;
        width: 75%;
    }
    .address-left {
        text-align: center;
    }
}
@media(max-width:480px){
    .address-row {
        width: 90%;
        margin-top: 1.5em;
    }
}
@media(max-width:414px){
    .address-row {
        width: 100%;
    }
}
@media(max-width:375px){
    .address-right {
        padding-left: 1em;
    }
}

